<div class="starter-template">
  <p class="lead text-center">Some people started singing it, not knowing what it was.</p>
  <img src = "http://media-cache-ak0.pinimg.com/236x/4d/61/6c/4d616c5f67a37d1b7db7acc79a3dcf03.jpg">
  <p class = "text-center"><%= link_to "Next >>", verse4_path %></p>
</div>
