<div class="starter-template">
  <p class="lead text-center">This is the song that doesn't end</p>
  <img src = "http://rophydoes.rintin.com/wp-content/uploads/2011/01/lambchop1.jpg">
  <p class = "text-center"><%= link_to "Next >>", verse2_path %></p>
</div>
