<div class="starter-template">
  <p class="lead text-center">It just goes on and on my friends...</p>
  <img src = "http://i.ytimg.com/vi/1_47KVJV8DU/mqdefault.jpg">
  <p class = "text-center"><%= link_to "Next >>", verse3_path %></p>
</div>
